@charset "UTF-8";
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/********* PCファーストmixin*********************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Noto Sans JP" "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.section_ttl {
  display: block;
  position: relative;
  text-align: center;
  font-size: 50px;
  /*IE9以前に対応する*/
  font-size: 3.125rem;
  color: #00a0e9;
}

.section_ttl:after {
  content: '';
  position: absolute;
  display: block;
  top: -35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
  font-size: 60px;
  /*IE9以前に対応する*/
  font-size: 3.75rem;
  opacity: .1;
  letter-spacing: .2em;
  color: #333333;
}

.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

/****************************************:

header

*****************************************:*/
/****************************************:

nav (ハンバーガーメニュー含む)

*****************************************:*/
/****************************************:

button

*****************************************:*/
/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
/**** ABOUT US ****/
.about {
  padding: 100px 0;
}

@media screen and (max-width: 480px) {
  .about {
    padding: 50px 0;
  }
}

.about_txt {
  margin-bottom: 80px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .about_txt {
    margin-bottom: 20px;
    padding: 0 10px;
  }
}

.about_box {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .about_box {
    margin: 0 20px 50px 20px;
  }
}

@media screen and (max-width: 480px) {
  .about_box {
    margin-bottom: 30px;
    display: block;
  }
}

.about_box:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about_box:last-child {
  margin-bottom: 0;
}

.about_box_left {
  width: 30%;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .about_box_left {
    width: 100%;
  }
}

.about_box_right {
  width: 70%;
  padding: 20px;
  background: #f3f3f3;
}

@media screen and (max-width: 480px) {
  .about_box_right {
    width: 90%;
    margin: 0 auto;
  }
}

.about_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .about_icon {
    width: 180px;
    height: 180px;
  }
}

.about_dl {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .about_dl {
    width: 100%;
  }
}

.about_dt {
  width: 25%;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .about_dt {
    width: 38%;
  }
}

@media screen and (max-width: 480px) {
  .about_dt {
    width: 45%;
  }
}

.about_dd {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .about_dd {
    width: 55%;
  }
}

/**** contact ****/
.top_contact {
  padding: 100px 0;
}

@media screen and (max-width: 480px) {
  .top_contact {
    padding: 50px 0;
  }
}

.top_contact .section_inner {
  width: 40%;
  margin-bottom: 100px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .top_contact .section_inner {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .top_contact .section_inner {
    width: 80%;
  }
}

.top_contact_txt {
  margin-bottom: 80px;
}

.top_contact .btn {
  text-align: center;
}

/****************************************:



*****************************************:*/
/****************************************:

footer

*****************************************:*/
.footer {
  width: 100%;
  color: #fafafa;
  line-height: 100px;
  text-align: center;
  background: #00a0e9;
}

.footer_txt {
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .footer_txt {
    font-size: 12px;
    /*IE9以前に対応する*/
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .footer_txt {
    font-size: 10px;
    /*IE9以前に対応する*/
    font-size: 0.625rem;
  }
}
