@charset "UTF-8";
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/********* PCファーストmixin*********************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Noto Sans JP" "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.section_ttl {
  font-size: 50px;
  /*IE9以前に対応する*/
  font-size: 3.125rem;
  display: block;
  text-align: center;
}

.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

/****************************************:

header

*****************************************:*/
/****************************************:

nav (ハンバーガーメニュー含む)

*****************************************:*/
/****************************************:

button

*****************************************:*/
.btn {
  width: 480px;
  height: 118px;
  margin: 0 auto;
  background: -webkit-linear-gradient(315deg, #00a0e9 100%, #00f0f9);
  background: linear-gradient(135deg, #00a0e9 100%, #00f0f9);
  border-radius: 149px;
  font-size: 30px;
  /*IE9以前に対応する*/
  font-size: 1.875rem;
  color: #fafafa;
  text-align: center;
  line-height: 118px;
  display: block;
}

/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
/****************************************:



*****************************************:*/
/****************************************:

footer

*****************************************:*/
