// ベーススタイル用


body {

    @include rem(16);

    margin: 0 auto;
    font-family: $fontMain;
    color: $cBlack;

}


* {
    box-sizing: border-box;
}



.container {
    margin: 0 auto;

}



//共通タイトル
.section_ttl {
    display: block;
    position: relative;
    text-align: center;
    @include rem(50);
    color: $cBlue;
    margin-bottom: 50px;

    @include tab {
        @include rem(35);
    }

    @include SP {
        @include rem(30);
    }


    &:after {
        content: '';
        position: absolute;
        display: block;
        top: -35px;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        @include rem(60);
        opacity: .1;
        letter-spacing: .1em;
        color: $cBlack;

        @include tab {
            @include rem(35);
            top: -20px;
        }

        @include SP {
            @include rem(30);
            top: -10px;
        }
    }

}


//セクションの共通inner
.section_inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

}



.br_tabSP {
    display: none;

    @include tab {
        display: block;
    }

    @include SP {
        display: block;
    }
}