// ベーススタイル用


body {

    @include rem(16);

    margin: 0 auto;
    font-family: $fontMain;
    color: $cBlack;

}


* {
    box-sizing: border-box;
}



.container {
    margin: 0 auto;

}



//共通タイトル
.section_ttl {
    display: block;
    position: relative;
    text-align: center;
    @include rem(50);
    color: $cBlue;
    // text-shadow: 3px -2px 5px $cBlack;


    &:after {
        content: '';
        position: absolute;
        display: block;
        top: -35px;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        @include rem(60);
        opacity: .1;
        letter-spacing: .2em;
        color: $cBlack;
    }

}


//セクションの共通inner
.section_inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

}