/****************************************:

footer

*****************************************:*/

.footer{
  width: 100%;
  color: $cWhite;
  line-height: 100px;
  text-align: center;
  background: $cBlue;

  &_txt{
    @include rem(15);

    @include tab{
      @include rem(12);
    }
    
    @include SP{
      @include rem(10);
    }
  }
  
}