/****************************************:

header

*****************************************:*/

.header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: $cBlack;
  line-height: 70px;
  @include flex();
  align-items: center;

  @include tab {
    line-height: 40px;
  }

  @include SP {
    line-height: 28px;
  }


  &_ttl {

    @include rem(42);
    color: $cWhite;

    @include pc_tab {
      margin: 0 auto;
    }


    @include tab {
      @include rem(40);
      margin: 0 auto;

    }

    @include SP {
      @include rem(28);
      margin: 0 auto;

    }
  }


  &_logo {
    width: 50px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 12px;


    @include tab {
      width: 45px;
      margin-left: 0;
      margin-bottom: 0;
    }

    @include SP {
      width: 28px;
      margin-left: 0;
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}





/****************************************:

nav

*****************************************:*/

.nav {
  margin-right: 20px;

  @include pc_tab {
    margin: 0 auto;
  }

  @include tab {
    margin: 0 auto;
  }

  @include SP {
    margin: 0 auto;
  }

  &_list {
    display: flex;
    color: $cWhite;

    @include pc_tab {
      display: block;
    }

    @include tab {
      display: block;
    }

    @include SP {
      display: block;
    }
  }

  &_item {
    width: 150px;
    @include rem(21);
    text-align: center;
    transition: color .2s;


    &:hover {
      transition: color .2s ease;
      color: $cBlue;
    }

    @include pc_tab {
      width: 100%;
      @include rem(40);
    }

    @include tab {
      width: 100%;
      @include rem(30);
    }

  }

  &_en {
    display: block;
  }
}

/****************************************:

ハンバーガーメニュー

*****************************************:*/

@include pc_tab {
  #nav-toggle {
    position: fixed;
    top: 85vh;
    right: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $cBlack;
    background: rgba($color:$cWhite, $alpha: 0.8);

    >div {
      position: relative;
      width: 60px;

      &::before {
        position: absolute;
        bottom: -50px;
        left: 25px;
        width: 100%;
        font-weight: bold;
        content: "MENU";
      }
    }

    span {
      width: 100%;
      height: 3px;
      left: 20px;
      bottom: 1px;
      display: block;
      background: #333;
      position: absolute;
      transition: transform .6s ease-in-out, top .5s ease;

      &:nth-child(1) {
        top: 30px;
      }

      &:nth-child(2) {
        top: 50px;
      }

      &:nth-child(3) {
        top: 70px;
      }
    }

  }

  .open {
    #nav-toggle span {
      background: $cWhite;

      &:nth-child(1) {
        top: 50px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        top: 50px;
        width: 0;
      }

      &:nth-child(3) {
        top: 50px;
        transform: rotate(-45deg);
      }
    }
  }

  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }

  #gloval-nav {
    background: $cBlack;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }


  #gloval-nav {
    a {
      margin: 40px 0;
      display: block;
      text-decoration: none;
      transition: color .3s ease;

      &:hover {
        color: $cBlue;
      }
    }

    ul {

      li {
        opacity: 0;
        transform: translateX(200px);
        transition: transform .6s ease, opacity .2s ease;

        &:nth-child(2) {
          transition-delay: .15s;
        }

        &:nth-child(3) {
          transition-delay: .3s;
        }

        &:nth-child(4) {
          transition-delay: .45s;
        }

        &:nth-child(5) {
          transition-delay: .6s;
        }

        &:nth-child(6) {
          transition-delay: .75s;
        }

        &:nth-child(7) {
          transition-delay: .9s;
        }
      }
    }
  }

  /* open */
  .open {
    overflow: hidden;

    #gloval-nav {
      visibility: visible;
      opacity: 1;
    }

    #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity .9s ease;
    }
  }

}

@include tab {
  #nav-toggle {
    position: fixed;
    top: 85vh;
    right: 30px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $cBlack;
    background: rgba($color:$cWhite, $alpha: 0.8);

    >div {
      position: relative;
      width: 50px;

      &::before {
        position: absolute;
        bottom: -35px;
        left: 15px;
        width: 100%;
        content: "MENU";
      }
    }

    span {
      width: 100%;
      height: 2px;
      left: 15px;
      bottom: 1px;
      display: block;
      background: #333;
      position: absolute;
      transition: transform .6s ease-in-out, top .5s ease;

      &:nth-child(1) {
        top: 28px;
      }

      &:nth-child(2) {
        top: 43px;
      }

      &:nth-child(3) {
        top: 58px;
      }
    }

  }

  .open {
    #nav-toggle span {
      background: $cWhite;

      &:nth-child(1) {
        top: 42px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        top: 42px;
        width: 0;
      }

      &:nth-child(3) {
        top: 42px;
        transform: rotate(-45deg);
      }
    }
  }

  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }

  #gloval-nav {
    background: $cBlack;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }


  #gloval-nav {
    a {
      margin: 50px 0;
      display: block;
      text-decoration: none;
      transition: color .3s ease;

      &:hover {
        color: $cBlue;
      }
    }

    ul {

      li {
        opacity: 0;
        transform: translateX(200px);
        transition: transform .6s ease, opacity .2s ease;

        &:nth-child(2) {
          transition-delay: .15s;
        }

        &:nth-child(3) {
          transition-delay: .3s;
        }

        &:nth-child(4) {
          transition-delay: .45s;
        }

        &:nth-child(5) {
          transition-delay: .6s;
        }

        &:nth-child(6) {
          transition-delay: .75s;
        }

        &:nth-child(7) {
          transition-delay: .9s;
        }
      }
    }
  }

  /* open */
  .open {
    overflow: hidden;

    #gloval-nav {
      visibility: visible;
      opacity: 1;
    }

    #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity .9s ease;
    }
  }

}

@include SP {

  #nav-toggle {
    position: fixed;
    top: 90vh;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $cBlack;
    background: rgba($color:$cWhite, $alpha: 0.8);

    >div {
      position: relative;
      width: 35px;

      &::before {
        position: absolute;
        bottom: -26px;
        left: 12px;
        width: 100%;
        content: "MENU";
        @include rem(11);
      }
    }

    span {
      width: 100%;
      height: 2px;
      left: 11px;
      bottom: 1px;
      display: block;
      background: #333;
      position: absolute;
      transition: transform .6s ease-in-out, top .5s ease;

      &:nth-child(1) {
        top: 22px;
      }

      &:nth-child(2) {
        top: 32px;
      }

      &:nth-child(3) {
        top: 42px;
      }
    }

  }

  .open {
    #nav-toggle span {
      background: $cWhite;

      &:nth-child(1) {
        top: 32px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        top: 32px;
        width: 0;
      }

      &:nth-child(3) {
        top: 32px;
        transform: rotate(-45deg);
      }
    }
  }

  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }

  #gloval-nav {
    background: $cBlack;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease, visibility .6s ease;
  }


  #gloval-nav {
    a {
      margin: 50px 0;
      display: block;
      text-decoration: none;
      transition: color .6s ease;

      &:hover {
        color: $cBlue;
      }
    }

    ul {

      li {
        opacity: 0;
        transform: translateX(200px);
        transition: transform .6s ease, opacity .2s ease;

        &:nth-child(2) {
          transition-delay: .15s;
        }

        &:nth-child(3) {
          transition-delay: .3s;
        }

        &:nth-child(4) {
          transition-delay: .45s;
        }

        &:nth-child(5) {
          transition-delay: .6s;
        }

        &:nth-child(6) {
          transition-delay: .75s;
        }

        &:nth-child(7) {
          transition-delay: .9s;
        }
      }
    }
  }

  /* open */
  .open {
    overflow: hidden;

    #gloval-nav {
      visibility: visible;
      opacity: 1;
    }

    #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity .9s ease;
    }
  }

}