// サイト共通で使用するメイン以外のパーツ
//


/****************************************:

button

*****************************************:*/


.btn{
  width: 300px;
  height: 80px;
  margin: 0 auto;
  background: linear-gradient(135deg, $cBlue 100%, #00f0f9);
  border-radius: 149px;
  @include rem(21);
  color: $cWhite;
  text-align: center;
  line-height: 80px;
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  

  @include pc_tab{
    width: 230px;
    height: 65px;
    @include rem(17);
    line-height: 65px;
  }

  @include tab{
    width: 210px;
    height: 58px;
    @include rem(16);
    line-height: 58px;
  }

  @include SP{
    width: 180px;
    height: 50px;
    @include rem(14);
    line-height: 50px;
  }

  &_txt{
    position: relative;
    z-index: 15;
  }

  &::after{
    width: 560px;
    height: 118px;
    background: linear-gradient(135deg, $cBlue 17%, #00f0f9);
    position: absolute;
    top: 0;
    right: -125%;
    z-index: 5;
    transform: skewX(-30deg);
    transition: .4s;
    content: "";

    @include pc_tab{
      width: 350px;
      height: 75px;
    }

    @include tab{
      width: 300px;
      height: 65px;
    }

    @include SP{
      width: 220px;
      height: 50px;
    }
  }

  &.active::after{
    right: -5%;
  }
}

input[type="submit"]{
  width: 300px;
  height: 80px;
  margin: 0 auto;
  border-radius: 149px;
  @include rem(21);
  color: $cWhite;
  text-align: center;
  line-height: 80px;
  background: transparent;
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  cursor: pointer;
  

  @include pc_tab{
    width: 230px;
    height: 65px;
    @include rem(17);
    line-height: 65px;
  }

  @include tab{
    width: 210px;
    height: 58px;
    @include rem(16);
    line-height: 58px;
  }

  @include SP{
    width: 180px;
    height: 50px;
    @include rem(14);
    line-height: 50px;
  }

  &_txt{
    position: relative;
    z-index: 15;
  }

  &::after{
    width: 560px;
    height: 118px;
    background: linear-gradient(135deg, $cBlue 17%, #00f0f9);
    position: absolute;
    top: 0;
    right: -125%;
    z-index: 5;
    transform: skewX(-30deg);
    transition: .4s;
    content: "";

    @include pc_tab{
      width: 350px;
      height: 75px;
    }

    @include tab{
      width: 300px;
      height: 65px;
    }

    @include SP{
      width: 220px;
      height: 50px;
    }
  }

  &.active::after{
    right: -5%;
  }
}



/****************************************:

ローディング

*****************************************:*/

body.hidden{
  overflow: hidden;
}

.load_bgc{
  width: 100%;
  height: 100vh;
  background-color: $cWhite;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: .8s;

  &.fadeOut{
    opacity: 0;
  }

  &.vanish{
    display: none;
  }
}

#circle_container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  float: left;
  transition: .8s;

  @include pc_tab{
    width: 50px;
    height: 50px;
  }

  @include tab{
    width: 40px;
    height: 40px;
  }

  @include SP{
    width: 30px;
    height: 30px;
  }

  &.fadeOut{
    opacity: 0;
  }
}

.circle:nth-child(1) {
  background: #FF0000;
  animation: pulse_1 2s 0s ease-out 2;
}

@keyframes pulse_1 {
  0% {
      box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0),
          0 0 0px 0px transparent,
          0 0 0px 0px rgba(255, 255, 255, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px rgba(255, 55, 55, 1),
          0 0 12px 10px transparent,
          0 0 12px 14px rgba(255, 55, 55, 1);
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),
          0 0 0px 40px transparent,
          0 0 0px 40px rgba(255, 25, 25, 0);
  }
}

.circle:nth-child(2) {
  background: #FFFF22;
  animation: pulse_2 2s 0.25s ease-out 2;
}

@keyframes pulse_2 {
  0% {
      box-shadow: 0 0 8px 6px rgba(250, 250, 100, 1),
          0 0 0px 0px transparent,
          0 0 0px 0px rgba(250, 250, 100, 1);
  }
  10% {
      box-shadow: 0 0 8px 6px rgba(250, 250, 100, 1),
          0 0 12px 10px transparent,
          0 0 12px 14px rgba(250, 250, 100, 1);
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(250, 250, 100, 0),
          0 0 0px 40px transparent,
          0 0 0px 40px rgba(250, 250, 100, 0);
  }
}

.circle:nth-child(3) {
  background: #00CC00;
  animation: pulse_3 2s 0.5s ease-out 2;
}

@keyframes pulse_3 {
  0% {
      box-shadow: 0 0 8px 6px rgba(0, 195, 0, 0),
          0 0 0px 0px transparent,
          0 0 0px 0px rgba(0, 195, 0, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px rgba(0, 195, 0, 1),
          0 0 12px 10px transparent,
          0 0 12px 14px rgba(0, 195, 0, 1);
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(0, 195, 0, 0),
          0 0 0px 40px transparent,
          0 0 0px 40px rgba(0, 195, 0, 0);
  }
}

.circle:nth-child(4) {
  background: #136FFF;
  animation: pulse_4 2s 0.75s ease-out 2;
}

@keyframes pulse_4 {
  0% {
      box-shadow: 0 0 8px 6px rgba(19, 111, 225, 0),
          0 0 0px 0px transparent,
          0 0 0px 0px rgba(19, 111, 225, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px rgba(19, 111, 225, 1),
          0 0 12px 10px transparent,
          0 0 12px 14px rgba(19, 111, 225, 1);
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(19, 111, 225, 0),
          0 0 0px 40px transparent,
          0 0 0px 40px rgba(19, 111, 225, 0);
  }
}

.circle:nth-child(5) {
  background:	#FF69A3;
  animation: pulse_5 2s 1s ease-out 2;
}

@keyframes pulse_5 {
  0% {
      box-shadow: 0 0 8px 6px rgba(238, 105, 163, 0),
          0 0 0px 0px transparent,
          0 0 0px 0px rgba(238, 105, 163, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px rgba(238, 105, 163, 1),
          0 0 12px 10px transparent,
          0 0 12px 14px rgba(238, 105, 163, 1);
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(238, 105, 163, 0),
          0 0 0px 40px transparent,
          0 0 0px 40px rgba(238, 105, 163, 0);
  }
}